/.bundle/
/coverage/
/doc/
/log/*.log
/pkg/
/tmp/
/node_modules/
/spec/fixture_app/db/*.sqlite3
/spec/fixture_app/db/*.sqlite3-*
/spec/fixture_app/log/
/spec/fixture_app/tmp/

# templates saved by golden UI flows
spec/fixture_app/spec/magic_test/templates/
