<script>

  // Initialize mutation observer with arrow function
  const initializeMutationObserver = () => {
    window.mutationObserver = new MutationObserver((mutations) => {
      console.log("Mutation observed");
      if (!window.target) {
        console.log("There is no window.target element. Quitting the mutation callback function");
        return;
      }
      const options = "";
      const targetClass = window.target.classList[0] ? `.${window.target.classList[0]}` : "";
      const text = window.target.innerText ? `', text: '${window.target.innerText}` : "";
      const action = `${finderForElement(window.target)}.hover`;
      const target = "";
      const testingOutput = JSON.parse(sessionStorage.getItem("testingOutput"));
      testingOutput.push({action, target, options});
      sessionStorage.setItem("testingOutput", JSON.stringify(testingOutput));
    });
  };

  // Async mutation start handler
  const mutationStart = async (evt) => {
    window.target = evt.target;
    const opts = {attributes: true, characterData: true, childList: true, subtree: true};
    window.mutationObserver.observe(document.documentElement, opts);
  };

  // Mutation end handler
  const mutationEnd = () => {
    window.mutationObserver.disconnect();
  };


</script>